---
import MainLayout from "../../layouts/mainLayout.astro";

---

<MainLayout title="Blog | XS Next Lab">
    <h1>XS Next Lab Blog</h1>
    <p>Here you can find articles about anything important happening in XS Next Lab</p>
    
</MainLayout>