---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="XS Next Lab">
	<main>
		<div class="grid md:grid-rows-2 gap-2">
			<img src="/assets/logo-animated.gif" alt="" />
			<h1 class="text-4xl">Welcome to XS Next Lab</h1>	
		</div>
		<summary>
			<p>XS Next Lab jumpstarts students' interests in the realm of computer programming.</p>

			<p>It is the official coding club of Xavier School of San Juan, a private Catholic Filipino-Chinese school.</p>

			<p> Here in XS Next Lab, we focus on four different categories: web development, app development, robotics, and Python!</p>
		</summary>
	</main>
</Layout>
</style>
