---
import Layout from '../layouts/Layout.astro';
---

<Layout title="XS Next Lab">
	<main>
		<div class="grid lg:grid-flow-col lg:grid-cols-2 grid-flow-row grid-cols-1 items-center gap-0" style="background:rgb(1,30,70)">
			<div class="grid place-items-center">
				<img src="/assets/logo-animated.gif" alt="" class="w-80 h-80 text-center" />
			</div>
			<div class="p-8 bg-slate-700 w-128">
				<h1 class="md:text-8xl text-6xl align-middle font-bold">Welcome to XS Next Lab</h1>	
			</div>
		</div>
		<article class="p-8">
			<summary>
				<p>XS Next Lab jumpstarts students' interests in the realm of computer programming.</p>
				<br>
				<p>It is the official coding club of Xavier School of San Juan, a private Catholic Filipino-Chinese school.</p>
				<br>
				<p>Here in XS Next Lab, we focus on four different categories: web development, app development, robotics, and Python!</p>
			</summary>
		</article>
	</main>
</Layout>