---
import Layout from '../layouts/mainLayout.astro';
---

<Layout title="XS Next Lab">
	<main>
		<div class="grid sm:grid-flow-col sm:grid-cols-2 grid-flow-row grid-cols-1 items-center gap-0" style="background:rgb(1,30,70)">
			<div class="grid place-items-center">
				<img src="/assets/logo.jpeg" alt="" class="w-80 h-80 text-center" />
			</div>
			<div class="p-8 bg-slate-700 w-128 sm:h-80">
				<h1 class="md:text-6xl text-4xl align-middle font-bold">Welcome to XS Next Lab</h1>	
			</div>
		</div>
		<article class="p-8">
			<slot />
		</article>
	</main>
</Layout>