---
import Icon from '../components/common/icon.astro';
import Layout from '../layouts/mainLayout.astro';
---

<Layout title="XS Next Lab">
	<main>
		<div class="grid sm:grid-flow-col sm:grid-cols-2 grid-flow-row grid-cols-1 items-center gap-0 bg-blue-100 dark:bg-blue-1000">
			<div class="grid place-items-center">
				<Icon class="w-64 h-64" icon="logo" />
			</div>
			<div class="p-8 bg-white dark:bg-slate-800 w-128 sm:h-full grid place-items-center">
				<h1 class="sm:text-6xl text-4xl align-middle font-bold text-black dark:text-white m-0">Welcome to XS Next Lab</h1>	
			</div>
		</div>
		<article class="p-8">
			<slot />
		</article>
	</main>
</Layout>